<div class="page-header">
  <h2>
    <span class="label label-info">Event Position</span>
    <%= @event_position.waiter_skill.title %>
  </h2>
</div>

<%= form_for [@event_position.event, @event_position], :html => {:class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :allowance, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.number_field :allowance, :class => 'form-control', :style => 'width: 150px;' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :waiter, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.select :waiter_id, Waiter.waiters_select(@event_position.waiter_skill), {:include_blank => true }, {:class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <%= link_to "Back", root_path, :class => 'btn btn-link' %>
    </div>
  </div>
<% end %>
