<div class="page-header">
  <h2>Waiters</h2>
</div>
<table class="table table-striped">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <% WaiterSkill.all.each do |ws| %>
      <th class="text-center"><%= ws.title %></th>
    <% end %>
  </tr>
  <% @waiters.each do |waiter| %>
      <tr>
        <td>
          <%= link_to edit_user_path(waiter) do %>
            <span class="label label-primary"><i class="fa fa-pencil"></i></span>
          <% end %>
          <%= link_to user_path(waiter), :method => :delete, :data => {:confirm => 'Are you sure?' } do %>
            <span class="label label-danger"><i class="fa fa-trash-o"></i></span>
          <% end %>
        </td>
        <td>
          <%= link_to waiter do %>
            <%= waiter.full_name %>
          <% end %>
        </td>
        <td>
          <code><%= waiter.email %></code>
        </td>
        <% WaiterSkill.all.each do |ws| %>
          <td class="text-center"><% if ws.acquired?(waiter) %><i class="fa fa-check-circle text-success"></i><% end %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<div class="page-header">
  <h2>
    Events
    <% if policy(Event).create? %>
      <%= link_to "Add event", new_event_path, :class => 'btn btn-success' %>
    <% end %>
  </h2>
</div>
<% @events.each do |event| %>
  <div>
    <% if policy(event).create? %>
      <%= link_to [:edit, event] do %>
        <span class="label label-primary"><i class="fa fa-pencil"></i></span>
      <% end %>
    <% end %>
    <% if policy(event).create? %>
      <%= link_to event, :method => :delete, :data => {:confirm => 'Are you sure?' } do %>
        <span class="label label-danger"><i class="fa fa-trash-o"></i></span>
      <% end %>
    <% end %>
    <%= link_to event.title, event %>
    <% unless event.client.nil? %>
      for <code><%= event.client.full_name %></code>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <h2>
    Waiter Skills
    <% if policy(WaiterSkill).create? %>
      <%= link_to "Add waiter skill", new_waiter_skill_path, :class => 'btn btn-success' %>
    <% end %>
  </h2>
</div>
<% @waiter_skills.each do |waiter_skill| %>
  <div>
    <%= link_to [:edit, waiter_skill] do %>
      <span class="label label-primary"><i class="fa fa-pencil"></i></span>
    <% end %>
    <% if policy(waiter_skill).destroy? %>
      <%= link_to waiter_skill, :method => :delete, :data => {:confirm => 'Are you sure?' } do %>
        <span class="label label-danger"><i class="fa fa-trash-o"></i></span>
      <% end %>
    <% end %>
    <%= waiter_skill.title %>
  </div>
<% end %>

<div class="page-header">
  <h2>Clients</h2>
</div>
<% @clients.each do |client| %>
  <div>
    <%= link_to edit_user_path(client) do %>
      <span class="label label-primary"><i class="fa fa-pencil"></i></span>
    <% end %>
    <%= link_to user_path(client), :method => :delete, :data => {:confirm => 'Are you sure?' } do %>
      <span class="label label-danger"><i class="fa fa-trash-o"></i></span>
    <% end %>
    <%= client.full_name %> <code><%= client.email %></code>
  </div>
<% end %>
