<%= form_for event, :html => {:class => 'form-horizontal' } do |f| %>
  <%= h_form_group_text(f, :title) %>
  <div class="form-group">
    <%= f.label :client, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.select :client_id, Client.client_select, {:include_blank => true }, {:class => 'form-control' } %>
    </div>
  </div>
  <%= h_form_group_submit(f) %>
<% end %>
